* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* common */
.row {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.col-full {
    width: 100%;
}

.col-half {
    width: calc(100%/2);
}

.col-third {
    width: calc(100%/3);
}

/* header new */

#nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 79px;
    padding: 10px 100px;
    transition: .5s;
    z-index: 1;
}

#nav.sticky {
    background-color: rgba(255, 255, 255, .8);
    height: 75px;
    padding: 0 50px;
}

#nav .logo{
    float: left;
}

#nav .logo img{
    width: 200px;
    height: auto;
    transition: .5s;
}

#nav.sticky .logo img{
    margin-top: 15px;
    width: 140px;
    height: auto;
}

#nav ul {
    float: right;
    display: flex;
}

#nav ul li {
    list-style: none;
}

#nav li {
    display: block;
}

#nav ul li a {
    display: inline-block;
    line-height: 69px;
    color: #262626;
    padding: 5px 20px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

#nav li:hover > a{
    color: #ce8f09;
}

#nav .sub-nav{
    display: none;
    position: absolute;
    flex-direction: column;
    margin-top: -4px;
    background-color: #fff;
}

#nav.sticky .sub-nav{
    background-color: rgb(255, 255, 255,0.8);
}

#nav .sub-nav li a {
    padding: 0 10px;
    margin: -5px 0;
}

#nav li:hover .sub-nav {
    display: block;
    transition: ease-in-out .5s;
}


/* slide */
#slider {
    /* margin-top: 46px; */
    padding-top: 50%;
    background: url(../img/test2.jpg) top center/ cover no-repeat;
    position: relative;
}

#slider .slider1 {
    position: absolute;
    left: 50%;
    bottom: 45px;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
}

.slider1 .slider-header {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    margin: 10px 0;
    letter-spacing: 4px;
}

.slider1 .slider-desc {
    font-size: 15px;
    font-weight: bolder;
}

#content .content-section {
    padding-top: 64px;
    padding-bottom: 80px;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
}

#content .content-heading {
    font-size: 25px;
    font-weight: 700;
    color: #fdb800;
    margin: 10px 0;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}


.content-container-item {
    display: block;
    width: 31%;
    text-align: center;
    background-color: #fff;
    margin: 0 10px;
    padding: 30px 0;
    height: 350px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.content-container-item h3 {
    color: #fdb800;
    transition: .3s ease-in-out;
}



.content-container-item:hover h3{
    transform: translateY(-15px);
}

.content-img {
    margin-right: auto;
    margin-left: auto;
    width: 84px;
    height: auto;
}

.content-container h3 {
    text-transform: uppercase;
    /* font-size: 25px; */
    margin-top: 25px;
    margin-bottom: 15px;
}

.content-container p {
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    color: #9c9c9c;
}



.block {
    padding-top: 60px !important;
    margin-bottom: 20px;
}

#content .booking1 {
    padding-top: 50px;
    padding-bottom: 80px;
}

.booking1 {
    background: url(../img/bg-sea.jpg) top center / cover no-repeat;
}

.footer2,
.footer-container,
.content-booking {
    max-width: 1200px;
    margin-left:auto;
    margin-right:auto;
}

.booking1 .content-decs {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
}


.booking1 .travel {
    float: right;
    width: calc(100%/4);
    padding: 0 8px;
}

.travel-img {
    display: block;
    width: 100%;
    height: 210px;
    border-radius: 10px 10px 0 0;
}

.travel:hover .travel-img{
    opacity: .8;
}

.news .news-body,
.travel .travel-body {
    background-color: #ffffff;
    padding: 8px 16px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 3px 12.09px 0.91px rgb(105 105 105 / 13%);
}

.travel-body h3 {
    font-size: 17px;
    font-weight: 600;
    margin: 15px 0;
    color: #fdb800;
}

.travel-body p {
    font-size: 16px;
    margin: 8px 0;
}

.travel-body .travel-body-price {
    color: red;
}


.contact::after,
.booking1::after,
.news-container::after,
.content-booking::after,
.footer-container::after,
.content-container::after {
    content: "";
    display: block;
    clear: both;
}


.css-btn {
    padding: 7px 18px;
    font-size: 16px;
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.travel .travel-pay-btn {
    color: #fff;
    display: inline-block;
    border: none;
    background-color: #fdb800;
}

.travel-body .more-infor {
    float: right;
    color: #fdb800;
    background-color: #fff;
    font-weight: 600;
    border: 1px solid #fdb800;
}

.form-btn-submit:hover,
.travel .travel-pay-btn:hover,
.travel-body .more-infor:hover {
    opacity: 0.6;
    cursor: pointer;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}



.contact {
    padding-top: 64px;
    padding-bottom: 64px;

}

.contact-infor {
    float: left;
    margin-top: -15px;
    padding-left: 8px;
    padding-right: 8px;
    width: calc(100%/2);
}

.form-name, .form-email {
    margin-bottom: 10px;
    padding: 10px 50px 10px 10px;
}

.form-nd {
    padding: 8px 0 30px 8px;
    width: 100%
}

.form-btn-submit {
    float: right;
    margin: 15px 0;
    padding: 8px 19px;
    font-size: 16px;
    color: #fff;
    background-color: #fdb800;
    border: none;
    border-radius: 4px;
}

.contact-infor h3 {
    font-size: 18px;
    padding: 10px 0;
    text-transform: uppercase;
    color: #fdb800;
}

.contact-infor p {
    font-size: 15px;
    padding-bottom: 10px; 
}

.mr-10 {
    margin-right: 10px;
}

/* css news */
.news-container {
    background-color: rgba(0, 0, 0, .05);
    padding-top: 64px;
    padding-bottom: 64px;
}

.content-news h2 {
    padding-bottom: 18px;
}

.news-item .news {
    float: right;
    width: calc(100%/3);
    padding: 0 8px;
}

.new-img {
    display: block;
    width: 100%;
    height: 225px;
}

.news a {
    text-decoration: none;
}

.news-body h3 {
    color: #ce8f09;
    font-size: 17px;
    font-weight: 700;
    line-height: 21.5px;
    text-align: left;
    margin: 15px 0;
}

.news-body .news-time{
    opacity: 0.6;
}

.news-time i {
    margin-right: 10px;
}

.news-body p {
    color: #000;
    font-size: 13px;
    text-align: justify;
    margin-bottom: 13px;
}

.news:hover .news-content {
    color: #ce8f09;
}

#footer {
    background-color: #fdb800;
}

.footer-container {
    padding: 64px 0;
}


.footer-list ul {
    list-style: none;
}

.fl-left {
    float: left;
}

.list-heading {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.list-heading-boder {
    width: 160px;
    height: 2px;
    background-color: #fff;
    margin: 12px 0;
}

.footer-list li {
    padding: 4px 0;
    color: #fff;
}

.footer-social-list a i {
    color: #fff;
    font-size: 35px;
    margin-right: 10px;
}

.footer-social-list a:hover {
    opacity: 0.6;
}

.footer2 {
    color: #fff;
    padding-top: 15px;
    padding-bottom: 30px;
    border-top: 1px solid #ccc;
}

